.SignIn-div {
  margin-top: 8.5379vh;
  min-height: 82.9242vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.SignIn-container {
  min-width: 29%;
  min-height: 38.9vh;
  padding: 40px;
  margin: 1.1vh;
  border: black 0.5px solid;
  border-radius: 10px;
}

.SignIn-ul {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.SignIn-div2 {
  min-height: 50px;
}
