.Admin-div {
  margin-top: 8.5379vh;
  min-height: 82.9242vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Admin-container {
  min-width: 62.5vw;
  max-width: 1200px;
  min-height: 38.9vh;
  padding: 40px;
  margin: 1.1vh;
  border-radius: 10px;
}

table,
th,
td {
  border: 1px solid black;
  padding: 8px;
}

table {
  border-collapse: collapse;
  border-radius: 8px;
  border-style: hidden; /* hide standard table (collapsed) border */
  box-shadow: 0 0 0 1px #666; /* this draws the table border  */
}

td {
  text-align: left;
  border: 1px solid #ccc;
}

th {
  border: 1px solid #ccc;
}

.Admin-div2 {
  min-height: 50px;
}

.Admin-menu {
  display: flex;
}

.Admin-Link {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-weight: bolder;
  padding: 12px;
  border-radius: 5px;
  margin: 12px;
}
