.Header-ul {
  height: 80px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Header-li {
  padding: 0px 20px;
  color: white;
  font-weight: bolder;
}

.Header {
  position: fixed;
  top: 0;
  width: 100%;
}
