.Header-ul {
  height: 8.5379vh;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Header-li {
  padding: 0px 20px;
  color: white;
  font-weight: bolder;
}

.Header {
  position: fixed;
  top: 0;
  width: 100%;
}

.Header-ul-ul {
  display: flex;
}

.Header-user {
  height: 8.5379vh;
  line-height: 8.5379vh;
}

.Header-home {
  min-width: 195px;
}

.Header-user {
  min-width: 195px;
}

.Header-btn {
  color: white;
  font-weight: bolder;
  border: none;
  background-color: transparent;
  font-size: 20px;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 15%;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content li {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content li:hover {
  background-color: #f1f1f1;
}
.Header-li:hover .dropdown-content {
  display: block;
}

.Header-caret {
  color: white;
}

.Header-coins {
  color: red;
  font-size: 12px;
}
