.HistoryRentPay-div {
  margin-top: 8.5379vh;
  min-height: 82.9242vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.HistoryRentPay-container {
  min-width: 52.031vw;
  max-width: 999px;
  min-height: 38.9vh;
  padding: 40px;
  margin: 1.1vh;
  border-radius: 10px;
}

.HistoryRentPay-ul {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  border: 1px solid black;
}

.HistoryRentPay-title {
  border: 1px solid black;
}

table,
th,
td {
  border: 1px solid black;
  padding: 8px;
}

table tbody tr:last-of-type td:nth-last-child(2) {
  font-weight: bolder;
}

table {
  border-collapse: collapse;
  border-radius: 8px;
  border-style: hidden; /* hide standard table (collapsed) border */
  box-shadow: 0 0 0 1px #666; /* this draws the table border  */
}

td {
  text-align: left;
  border: 1px solid #ccc;
}

th {
  border: 1px solid #ccc;
}

.HistoryRentPay-div2 {
  min-height: 50px;
}
