.User-currently-rent {
  margin: 0;
  white-space: nowrap;
}

.User-submenu {
  margin-bottom: 12px;
  display: flex;
  justify-content: center;
  animation: fadein 2s;
}

.User-ul-li {
  padding: 12px;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  margin: 0px 6px;
}

.User-spe {
  margin-left: 3px;
  margin-right: 12px;
}

.User-act {
  margin-left: 12px;
  margin-right: 3px;
}

.User-h1 {
  animation: fadein 2s;
}
