<h1>Hello {{ name }}</h1>
<button (click)="isDanger = !isDanger">Toogle Danger</button>
<button (click)="isWarning = !isWarning">Toogle Warning</button>

<div
  class="box"
  [class.red-border]="isDanger"
  [class.yellow-background]="isWarning"
></div>

<app-progress-bar></app-progress-bar>
<br />
<app-progress-bar
  [progress]="currentProgress"
  [progressColor]="'dodgerblue'"
></app-progress-bar>
<br />
<button (click)="currentProgress = currentProgress + 1">
  Increase Progress
</button>
<br />
<br />
<app-author-list></app-author-list>
<hr />
<app-toggle #toggleComp [(checked)]="checked">
  <h3>Question 1</h3>
  <label>Abc 1....</label>
  xyz1....
</app-toggle>
<button #toggleButton (click)="toggleComp.toggle()">Toggle Me</button>
<br />
<app-toggle [(checked)]="checked2">
  <h3>Question 2</h3>
  <ng-container ngProjectAs="label">Abc 2....</ng-container>
  xyz2....
  <button>Skip</button>
</app-toggle>
<hr />
<div class="card mx-4">
  <div class="card-header">
    You have selected
    <ng-container [ngTemplateOutlet]="counterTmpl"></ng-container>.
  </div>
  <div class="card-body">
    There are <ng-container [ngTemplateOutlet]="counterTmpl"></ng-container> was
    selected.
  </div>
  <div class="card-footer">
    You have selected
    <ng-container [ngTemplateOutlet]="counterTmpl"></ng-container>.
  </div>
</div>

<!-- ngTemplateOutlet -->
<ng-template #counterTmpl>
  <span class="badge badge-primary">{{ counter }}</span> item(s)
</ng-template>

<hr />

<app-tabs [navs]="navs" [linkTemplate]="linkTemplate"></app-tabs>
<ng-template #linkTemplate let-l
  ><h4>{{ l }}</h4></ng-template
>
<hr />

<app-tab-group [(activeIndex)]="currentIndex">
  <app-tab-panel title="First Tab">First tab content</app-tab-panel>
  <app-tab-panel title="Second Tab">Second tab content</app-tab-panel>
  <app-tab-panel title="Third Tab">Third tab content</app-tab-panel>
  <app-tab-panel title="Fourth Tab">Fourth tab content</app-tab-panel>
  <app-tab-panel title="Fifth Tab">Fifth tab content</app-tab-panel>
</app-tab-group>

<hr />

<app-my-tab-group [(selectedIndex)]="myCurrentIndex">
  <app-my-tab-panel title="My 1st Tab">
    <ng-template appTabContent>
      My 1st tab content
      <app-counter></app-counter>
    </ng-template>
  </app-my-tab-panel>
  <app-my-tab-panel title="My 2nd Tab">
    <ng-template appTabContent
      >My 2nd tab content <app-counter></app-counter
    ></ng-template>
  </app-my-tab-panel>
  <app-my-tab-panel title="My 3rd Tab">
    <ng-template appTabContent
      >My 3rd tab content <app-counter></app-counter
    ></ng-template>
  </app-my-tab-panel>
  <app-my-tab-panel title="My 4th Tab">
    <ng-template appTabContent
      >My 4th tab content <app-counter></app-counter
    ></ng-template>
  </app-my-tab-panel>
  <app-my-tab-panel title="My 5th Tab">
    <ng-template appTabContent
      >My 5th tab content <app-counter></app-counter
    ></ng-template>
  </app-my-tab-panel>
</app-my-tab-group>
<hr />
{{ date | date }}
<br />
{{ date | date: "dd/MM/yyyy hh:mm a" }}
<br />
<p>B: {{ 250000 | currency: "VND" }}</p>
<br />
{{ user | json }}
<br />
{{ intervals | async }}
<hr />
<router-outlet></router-outlet>
